@import '../variables';

.main {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
  padding: 50px 40px;
  justify-content: center;

  @each $viewWidth, $column in $column-count {
    @media (min-width: $viewWidth) {
      & {
        grid-template-columns: repeat(#{$column}, 200px);
      }
    }
  }
}
